@import "tailwindcss";

:root {
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 500;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  src: url("/fonts/Lora/Lora-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  src: url("/fonts/Lora/Lora-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Lora';
  font-weight: 600;
  src: url("/fonts/Lora/Lora-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  src: url("/fonts/Lora/Lora-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  src: url("/fonts/Work_Sans/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 500;
  src: url("/fonts/Work_Sans/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 600;
  src: url("/fonts/Work_Sans/WorkSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 700;
  src: url("/fonts/Work_Sans/WorkSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("/fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url("/fonts/Open_Sans/OpenSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url("/fonts/Open_Sans/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url("/fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2");
}


@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2");
}

@theme {
  --color-primary-950: #281B0B;
  --color-primary-900: #473114;
  --color-primary-800: #67471D;
  --color-primary-700: #875D26;
  --color-primary-600: #A7732F;
  --color-primary-500: #C78938;
  --color-primary-400: #D09C58;
  --color-primary-300: #D9AF78;
  --color-primary-200: #E2C297;
  --color-primary-100: #EBD5B7;
  --color-primary-50: #F4E8D7;
  --color-primary-base: #FDFAF7;

  --color-neutral-custom-950: #131211;
  --color-neutral-custom-900: #1E1C1A;
  --color-neutral-custom-800: #292624;
  --color-neutral-custom-700: #3E3A37;
  --color-neutral-custom-600: #544E4A;
  --color-neutral-custom-500: #999999;
  --color-neutral-custom-400: #BDB7B3;
  --color-neutral-custom-300: #D7D3D1;
  --color-neutral-custom-200: #E8E6E4;
  --color-neutral-custom-100: #F3F2F1;
  --color-neutral-custom-50: #F8F7F7;
  --color-neutral-custom-base: #FFFFFF;

  --font-playfair-display: 'Playfair Display', 'serif';
  --font-lora: 'Lora', 'serif';
  --font-work-sans: 'Work Sans', 'sans-serif';
  --font-open-sans: 'Open Sans', 'sans-serif';
  --font-inter: 'Inter', 'sans-serif';

  /* Main */
  --text-display-large: 68px;
  --text-display-large--line-height: 82px;
  --text-display-large--letter-spacing: -1.1px;

  --text-display-medium: 42px;
  --text-display-medium--line-height: 50px;
  --text-display-medium--letter-spacing: -0.67px;

  --text-display-small: 36px;
  --text-display-small--line-height: 43px;
  --text-display-small--letter-spacing: -0.58px;

  --text-h1-large: 68px;
  --text-h1-large--line-height: 82px;
  --text-h1-large--letter-spacing: -1.1px;

  --text-h1-medium: 42px;
  --text-h1-medium--line-height: 50px;
  --text-h1-medium--letter-spacing: -0.67px;

  --text-h1-small: 32px;
  --text-h1-small--line-height: 38px;
  --text-h1-small--letter-spacing: -0.51px;

  --text-h2-large: 42px;
  --text-h2-large--line-height: 50px;
  --text-h2-large--letter-spacing: -0.67px;

  --text-h2-medium: 26px;
  --text-h2-medium--line-height: 31px;
  --text-h2-medium--letter-spacing: -0.42px;

  --text-h2-small: 20px;
  --text-h2-small--line-height: 24px;
  --text-h2-small--letter-spacing: -0.32px;

  --text-h3-large: 28px;
  --text-h3-large--line-height: 32px;
  --text-h3-large--letter-spacing: -0.45px;

  --text-h3-medium: 22px;
  --text-h3-medium--line-height: 26px;
  --text-h3-medium--letter-spacing: -0.32px;

  --text-h3-small: 18px;
  --text-h3-small--line-height: 22px;
  --text-h3-small--letter-spacing: -0.29px;

  --text-label-large: 18px;
  --text-label-large--line-height: 20px;
  --text-label-large--letter-spacing: 0.42px;

  --text-label-medium: 16px;
  --text-label-medium--line-height: 18px;
  --text-label-medium--letter-spacing: 0.38px;

  --text-label-small: 14px;
  --text-label-small--line-height: 16px;
  --text-label-small--letter-spacing: 0.34px;

  --text-body-large: 18px;
  --text-body-large--line-height: 27px;
  --text-body-large--letter-spacing: 0.21px;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;
  --text-body-medium--letter-spacing: 0.19px;

  --text-body-small: 14px;
  --text-body-small--line-height: 21px;
  --text-body-small--letter-spacing: 0.17px;

  --text-small-text-large: 12px;
  --text-small-text-large--line-height: 16px;
  --text-small-text-large--letter-spacing: 0.14px;

  --text-small-text-medium: 11px;
  --text-small-text-medium--line-height: 15px;
  --text-small-text-medium--letter-spacing: 0.13px;

  --text-small-text-small: 10px;
  --text-small-text-small--line-height: 14px;
  --text-small-text-small--letter-spacing: 0.12px;

  /* CMS */
  --text-cms-h1-large: 52px;
  --text-cms-h1-large--line-height: 68px;
  --text-cms-h1-large--letter-spacing: -1.04px;

  --text-cms-h1-medium: 46px;
  --text-cms-h1-medium--line-height: 60px;
  --text-cms-h1-medium--letter-spacing: -0.92px;

  --text-cms-h1-small: 41px;
  --text-cms-h1-small--line-height: 54px;
  --text-cms-h1-small--letter-spacing: -0.82px;

  --text-cms-h2-large: 36px;
  --text-cms-h2-large--line-height: 47px;
  --text-cms-h2-large--letter-spacing: -0.72px;

  --text-cms-h2-medium: 32px;
  --text-cms-h2-medium--line-height: 42px;
  --text-cms-h2-medium--letter-spacing: -0.64px;

  --text-cms-h2-small: 29px;
  --text-cms-h2-small--line-height: 38px;
  --text-cms-h2-small--letter-spacing: -0.58px;

  --text-cms-h3-large: 26px;
  --text-cms-h3-large--line-height: 34px;
  --text-cms-h3-large--letter-spacing: -0.52px;

  --text-cms-h3-medium: 23px;
  --text-cms-h3-medium--line-height: 30px;
  --text-cms-h3-medium--letter-spacing: -0.46px;

  --text-cms-h3-small: 20px;
  --text-cms-h3-small--line-height: 36px;
  --text-cms-h3-small--letter-spacing: -0.4px;

  --text-cms-label-large: 18px;
  --text-cms-label-large--line-height: 25px;
  --text-cms-label-large--letter-spacing: 0.36px;

  --text-cms-label-medium: 16px;
  --text-cms-label-medium--line-height: 22px;
  --text-cms-label-medium--letter-spacing: 0.32px;

  --text-cms-label-small: 14px;
  --text-cms-label-small--line-height: 19px;
  --text-cms-label-small--letter-spacing: 0.28px;

  --text-cms-label-extra-small: 13px;
  --text-cms-label-extra-small--line-height: 18px;
  --text-cms-label-extra-small--letter-spacing: 0.26px;

  --text-cms-body-large: 18px;
  --text-cms-body-large--line-height: 26px;
  --text-cms-body-large--letter-spacing: 0.18px;

  --text-cms-body-medium: 16px;
  --text-cms-body-medium--line-height: 23px;
  --text-cms-body-medium--letter-spacing: 0.16px;

  --text-cms-body-small: 14px;
  --text-cms-body-small--line-height: 20px;
  --text-cms-body-small--letter-spacing: 0.14px;

  --text-cms-body-extra-small: 14px;
  --text-cms-body-extra-small--line-height: 19px;
  --text-cms-body-extra-small--letter-spacing: 0.13px;
}

@layer components {  
  .container {
    @apply w-full min-w-full flex flex-col gap-y-[150px] py-12 px-4 sm:py-[60px] sm:px-9 lg:py-[100px] lg:px-[60px] overflow-hidden relative;
    @apply bg-primary-base rounded-l-[36px] rounded-br-[0px] rounded-bl-[0px] rounded-tr-[36px] md:rounded-tl-[36px] md:rounded-tr-[36px] border-[3px] border-solid border-primary-100;
  }

  .contact-card {
    @apply p-6 flex flex-col gap-y-8 rounded-[12px] bg-primary-base border-[1.5px] border-solid border-primary-100 cursor-pointer;
  }

  .contact-card .icons {
    @apply flex justify-between *:object-cover;
  }

  .contact-card .icons .main-icon {
    @apply h-[60px] w-[60px];
  }

  .contact-card .icons .small-icon {
    @apply h-[24px] w-[24px];
  }

  .contact-card .content {
    @apply flex flex-col gap-y-6;
  }
  
  .contact-card .content .title-and-description {
    @apply flex flex-col gap-y-3;
  }
  
  .contact-card .content .title-and-description h1 {
    @apply font-lora font-medium text-primary-700 text-h3-small sm:text-h3-medium;
  }

  .contact-card .content .title-and-description p, .contact-card .content a {
    @apply font-work-sans text-primary-700 text-label-small sm:text-label-medium;
  }

  .contact-card .content .title-and-description p {
    @apply text-neutral-custom-700;
  }

  .contact-card .content a {
    @apply text-neutral-custom-800;
  }

  /* Hero section */
  .general-section, .hero-section, .hero-product {
    @apply w-full grid;
  }

  .hero-section, .hero-product {
    @apply pt-[148px] pb-12 px-4 sm:px-6 lg:px-12 gap-y-12 gap-x-[60px] items-center bg-primary-base;
  }

  .hero-section .hero-image, .general-section .general-image, .hero-product .product-image {
    @apply h-full grid gap-4 sm:gap-6 *:rounded-[12px] *:overflow-hidden *:object-cover *:h-full *:w-full;
  }

  .hero-product .product-image .higlight img {
    @apply h-[60px] w-[60px] aspect-square rounded-[4px] overflow-hidden object-cover;
  }

  .hero-product .product-image .higlight {
    @apply flex items-center gap-6;
    @apply font-work-sans font-medium text-body-small sm:text-body-medium text-neutral-custom-800;
  }

  .hero-section .content, .general-section .content {
    @apply flex flex-col gap-y-6;
  }

  .hero-product .content {
    @apply flex flex-col gap-y-12;
  }

  .hero-product .actions {
    @apply flex gap-4;
  }

  .hero-product .content .detail {
    @apply flex flex-col gap-y-8;
  }

  .hero-product .content .price-stock {
    @apply flex justify-between gap-x-6;
  }

  .hero-product .content .price-stock .stock {
    @apply h-fit py-1.5 px-3 rounded-[6px] bg-primary-base border-[1px] border-solid border-primary-100;
    @apply font-work-sans font-medium text-label-small sm:text-label-medium text-primary-600;
  }

  .hero-product .content .price-stock .price-weight-wrapper {
    @apply flex flex-col gap-y-3;
  }

  .hero-product .content .price-stock .price-weight-wrapper .price-weight {
    @apply font-lora font-medium text-h2-small sm:text-h2-medium lg:text-h2-large text-neutral-custom-950;
  }

  .hero-product .content .price-stock .price-weight-wrapper .price-discount {
    @apply flex gap-x-2;
  }

  .hero-product .content .price-stock .price-weight-wrapper .price-discount h1 {
    @apply font-lora text-h3-small sm:text-h2-medium text-neutral-custom-600 line-through;
  }

  .hero-product .content .price-stock .price-weight-wrapper .price-discount p {
    @apply py-1.5 px-2 rounded-[4px] bg-red-50;
    @apply font-work-sans font-medium text-label-small sm:text-label-large text-red-600;
  }

  .hero-section .content .headline-and-supporting-headline,
  .general-section .content .headline-and-supporting-headline {
    @apply flex flex-col gap-y-4;
  }

  .hero-section .content .headline-and-supporting-headline h1,
  .hero-product .content .detail .headline-and-supporting-headline h1 {
    @apply font-playfair-display text-display-small sm:text-display-medium xl:text-display-large font-medium text-primary-800;
  }

  .hero-section .content .headline-and-supporting-headline p,
  .hero-product .content .detail .headline-and-supporting-headline p {
    @apply font-work-sans text-body-small sm:text-body-medium text-neutral-custom-800;
  }

  .general-section .content .headline-and-supporting-headline h1 {
    @apply font-lora text-h2-medium font-medium sm:text-h2-large text-neutral-custom-950;
  }

  .general-section .content .headline-and-supporting-headline p {
    @apply font-work-sans text-body-small sm:text-body-medium text-neutral-custom-700;
  }

  .hero-section .content .actions,
  .general-section .content .actions {
    @apply flex flex-col sm:flex-row gap-4;
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}